<br />
<div class="seccion-titulo">
  <div class="menu-catalogos">
    <h2 class="colorBlanco">Operadores</h2>
    <div style="max-width: 350px; min-width: 100px">
      <a class="boton-regresar" (click)="btnRegresar()">
        <i class="fa-solid fa-house icono-xlg centrar-icono"></i>
        <span class="textoBtn"> &thinsp;Regresar</span>
      </a>
      <a class="boton-guardar" (click)="btnGuardar()">
        <i class="fa-solid fa-floppy-disk icono-xlg centrar-icono"></i>
        <span class="textoBtn"> &thinsp;Guardar</span>
      </a>
    </div>
  </div>
</div>
<br />
<div class="seccion-principal">
  <div class="capturaBackGround">
    <form class="formsClass" autocomplete="off">
      <label for="clave" class="labelInput">Clave del operdor</label>
      <input
        type="text"
        id="clave"
        name="clave"
        [class]="_accion == 'N' ? 'inputClass' : 'inputReadOnlyClass'"
        [(ngModel)]="_item.idOperador"
        [readonly]="_accion == 'N' ? false : true"
      />
      <label for="Nombre" class="labelInput">Nombre del operador</label>
      <input
        type="text"
        id="Nombre"
        name="Nombre"
        class="inputClass"
        [(ngModel)]="_item.Nombre"
      />
      <label for="Nombre" class="labelInput">Password del operador</label>
      <input
        type="text"
        id="passw"
        name="passw"
        class="inputClass"
        [(ngModel)]="_item.passw"
      />

      <label for="categoria" class="labelInput">Categoría</label>
      <select
        name="categoria"
        id="categoria"
        class="inputClass"
        [(ngModel)]="_item.categoria"
      >
        <option value="A" class="inputClass">Administrador</option>
        <option value="S" class="inputClass">Supervisor</option>
        <option value="M" class="inputClass">Mantenimiento</option>
        <option value="O" class="inputClass" selected>Operador</option>
      </select>

      <label for="estatus" class="labelInput">Estatus</label>
      <div class="texto-linea">
        <input
          type="checkbox"
          id="estatus"
          #estatus
          [(ngModel)]="_estatus"
          name="estatus"
          class="toggle"
        />
        <div
          class="labelInput"
          style="margin-left: 20px"
          *ngIf="estatus.checked"
        >
          Activo
        </div>
        <div
          class="labelInput"
          style="margin-left: 20px"
          *ngIf="!estatus.checked"
        >
          Baja
        </div>
      </div>
    </form>
  </div>
</div>
