/*Responsive Styles*/

/* Smartphones (portrait) ---------------- */
@media only screen and (max-width: 320px) {
  /* Add Your CSS Styling Here */

}


/* Smartphones (landscape) ---------------- */
@media only screen and (min-width: 321px) and (max-width: 767px) {
  /* Add Your CSS Styling Here */

  .header {
    display: grid;
    grid-template-columns: 50% 30% 20%;

  }

  .titulo {
    display: none;
  }

  .card-item {
    max-width: 95%;
    min-width: 95%;
  }

  .menu-item {
    max-width: 95%;
    min-width: 95%;
  }

  .capturaBackGround {
    max-width: 95%;
    min-width: 95%;
  }

  .seccion-titulo {
    max-width: 95%;
    min-width: 95%;
  }

  .textoBtn {
    display: none;
  }

  .boton-acciones {
    display: block;
    position: fixed;
    right: 5%;
    bottom: 10%;
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem;
    *border-radius: 50%;
    *background-image: linear-gradient(to bottom right, #25ffa1, #076e41);
    background: greenyellow;
    *color: white;
    color: #50597b;

    border: solid 1px #555;
    box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:   0 0 98px 6px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
    border-radius:100px;
  }

  .boton-guardar {
    display: block;
    position: fixed;
    right: 5%;
    bottom: 10%;
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem;
    *border-radius: 50%;
    *background-image: linear-gradient(to bottom right, #25ffa1, #076e41);
    background: greenyellow;
    color: #50597b;

    border: solid 1px #555;
    box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:   0 0 98px 6px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
    border-radius:100px;
  }

  .boton-regresar {
    display: block;
    position: fixed;
    right: 5%;
    bottom: 20%;
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem;
    *border-radius: 50%;
    *background-image: linear-gradient(to bottom right, #25ffa1, #076e41);
    background: greenyellow;
    color: #50597b;

    border: solid 1px #555;
    box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:   0 0 98px 6px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
    border-radius:100px;
  }

  .boton-filtros {
    display: block;
    position: fixed;
    right: 5%;
    bottom: 20%;
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem;
    *border-radius: 50%;
    *background-image: linear-gradient(to bottom right, #25ffa1, #076e41);
    background: greenyellow;
    color: #50597b;

    border: solid 1px #555;
    box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:   0 0 98px 6px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
    border-radius:100px;
  }

  .centrar-icono {
    top: 20%;
    position: relative;
    margin: auto;
  }
  
  .button-plus {
    display: block;
    position: fixed;
    right: 5%;
    bottom: 10%;
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem;
    border-radius: 50%;
    background-color: yellowgreen;
    color: white;
  }

  .icono-posicion-tres {
    bottom: 30%;
  }

  .icono-posicion-dos {
    bottom: 20%;
  }

  .icono-posicion-uno {
    bottom: 10%;
  }

  .icono-plus-circle {
    display: none;
  }
  
  .icono-plus {
    display: block;
  }

  .login-input, .login-button {
    width: 95%; 
  }

  .content{
    max-width: 95%;
  }

  .consulta-ubicaciones {
    display: none;
  }

  .consulta-ubicaciones-mobile {
    display: block;
  }

.card-item-table-mobile {
  display: flex;  
  flex-direction: column;
  width: 100%;
}

/* GENERAR NUEVO CSS*/
.container-main {
  width: 95%;
}

}

@media only screen and (max-height: 500px){
  /* Add Your CSS Styling Here */

  .boton-acciones {
    display: none;
  }

  .boton-guardar {
    display: none;
  }

  .boton-regresar {
    display: none;
  }
}

