<br />
<div class="seccion-titulo">
  <div class="menu-catalogos">
    <h2 class="colorBlanco">Consulta Ubicaciones</h2>
    <div style="max-width: 350px; min-width: 100px">
      <a class="boton-filtros" (click)="btnExportar()">
        <i class="fa-solid fa-file-excel centrar-icono icono-xlg"></i>
        <span class="textoBtn"> &thinsp;Exportar</span>
      </a>
      <a class="boton-filtros" (click)="btnFiltros()">
        <i class="fa-solid fa-filter centrar-icono icono-xlg"></i>
        <span class="textoBtn"> &thinsp;Filtrar</span>
      </a>
    </div>
  </div>
</div>
<br />
<div class="rectangle-standard vertical-scroll">
  <table class="table-standard">
    <thead>
      <tr>
        <th>Equipo</th>
        <th>Obra</th>
        <th>Operador</th>
        <th>Fecha</th>
        <th>Odometro</th>
        <th>Sello</th>
        <th>Litros</th>
        <th>Horometro</th>
        <th>Tipo</th>
        <th>Usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of _List">
        <td style="text-align: left">
          {{ item.idEconomico }} | {{ item.equipoNom }}
        </td>
        <td style="text-align: left">{{ item.idObra }} | {{ item.obraNom }}</td>
        <td style="text-align: left">
          {{ item.idOperador }} | {{ item.operadorNom }}
        </td>
        <td style="width: 40px">{{ item.fecha_alta | date : "mediumDate" }}</td>
        <td>
          {{ item.odometro }}
        </td>
        <td>{{ item.sello }}</td>
        <td>{{ item.litros }}</td>
        <td>{{ item.horometro }}</td>
        <td>{{ item.ventana }}</td>
        <td>{{ item.idUsuario }}</td>
      </tr>
    </tbody>
  </table>
  <app-sin-informacion *ngIf="_sinInfo"></app-sin-informacion>
</div>
<app-loading-circle *ngIf="_loading"></app-loading-circle>
