<br />
<div class="seccion-titulo">
  <div class="menu-catalogos">
    <h2 class="colorBlanco">Consulta - ubicaciones</h2>

    <a class="boton-filtros" (click)="btnFiltros()">
      <i class="fa-solid fa-filter centrar-icono icono-xlg"></i>
      <span class="textoBtn"> &thinsp;Filtrar</span>
    </a>
  </div>
</div>
<div class="seccion-principal">
  <div class="card-item consulta-ubicaciones" style="margin-bottom: 1px">
    <div class="card-item-table">
      <div class="letra1">Equipo</div>
      <div class="letra1">Obra</div>
      <div class="letra1">Operador</div>
      <div class="letra1">Fecha</div>
      <div class="letra1">Odometro</div>
      <div class="letra1">Sello</div>
      <div class="letra1">Litros</div>
      <div class="letra1">Horometro</div>
      <div class="letra1">Tipo</div>
      <div class="letra1">Usuario</div>
    </div>
  </div>

  <ul class="list-cards consulta-ubicaciones">
    <li *ngFor="let item of _listado" class="card-item">
      <div class="card-item-table">
        <div class="letra1">{{ item.idEconomico }}</div>
        <div class="letra1">{{ item.idObra }}</div>
        <div class="letra1">{{ item.idOperador }}</div>
        <div class="letra1">{{ item.fecha_alta | date : "mediumDate" }}</div>
        <div class="letra1">{{ item.odometro }}</div>
        <div class="letra1">{{ item.sello }}</div>
        <div class="letra1">{{ item.litros }}</div>
        <div class="letra1">{{ item.horometro }}</div>
        <div class="letra1">{{ item.ventana }}</div>
        <div class="letra1">{{ item.idUsuario }}</div>
      </div>
      <div class="letra2">
        {{ item.equipoNom }} | {{ item.obraNom }} | {{ item.operadorNom }}
      </div>
      <div class="letra2">
        {{ item.comentarios }}
      </div>
    </li>
  </ul>

  <ul class="list-cards consulta-ubicaciones-mobile">
    <li
      *ngFor="let item of _listado"
      class="card-item"
      style="margin-bottom: 1px"
    >
      <div class="card-item-table-mobile">
        <div class="letra1 justifica-items borde-abajo">
          <p>Equipo</p>
          <p class="letra2 margen-arriba-abajo">{{ item.idEconomico }}</p>
        </div>
        <div class="letra1 justifica-items borde-abajo">
          <p>Obra</p>
          <p class="letra2 margen-arriba-abajo">{{ item.idObra }}</p>
        </div>
        <div class="letra1 justifica-items borde-abajo">
          <p>Operador</p>
          <p class="letra2 margen-arriba-abajo">{{ item.idOperador }}</p>
        </div>
        <div class="letra1 justifica-items borde-abajo">
          <p>Fecha</p>
          <p class="letra2 margen-arriba-abajo">
            {{ item.fecha_alta | date : "mediumDate" }}
          </p>
        </div>
        <div class="letra1 justifica-items borde-abajo">
          <p>Odometro</p>
          <p class="letra2 margen-arriba-abajo">{{ item.odometro }}</p>
        </div>
        <div class="letra1 justifica-items borde-abajo">
          <p>Sello</p>
          <p class="letra2 margen-arriba-abajo">{{ item.sello }}</p>
        </div>
        <div class="letra1 justifica-items borde-abajo">
          <p>Listros</p>
          <p class="letra2 margen-arriba-abajo">{{ item.litros }}</p>
        </div>
        <div class="letra1 justifica-items borde-abajo">
          <p>Orometro</p>
          <p class="letra2 margen-arriba-abajo">{{ item.horometro }}</p>
        </div>
        <div class="letra1 justifica-items borde-abajo">
          <p>Tipo</p>
          <p class="letra2 margen-arriba-abajo">{{ item.ventana }}</p>
        </div>
        <div class="letra1 justifica-items borde-abajo">
          <p>Usuario</p>
          <p class="letra2 margen-arriba-abajo">{{ item.idUsuario }}</p>
        </div>
      </div>
      <div class="letra2">
        {{ item.equipoNom }} | {{ item.obraNom }} | {{ item.operadorNom }}
      </div>
      <div class="letra2">
        {{ item.comentarios }}
      </div>
    </li>
  </ul>
  <app-sin-informacion *ngIf="_sinInfo"></app-sin-informacion>
</div>
<app-loading-circle *ngIf="_loading"></app-loading-circle>
