<br />
<div class="seccion-titulo">
  <div class="menu-catalogos">
    <h2 class="colorBlanco">Operadores</h2>
    <a class="boton-acciones color-verde" (click)="btnAgregar()">
      <i class="fa-solid fa-circle-plus icono-xlg icono-plus-circle"></i>

      <i class="fa-solid fa-plus icono-xlg centrar-icono icono-plus"></i>
      <span class="textoBtn"> &thinsp;Nuevo</span>
    </a>
  </div>
</div>
<div class="seccion-principal">
  <ul class="list-cards">
    <li
      *ngFor="let item of _listado"
      class="card-item table-row"
      (click)="btnEditar(item)"
    >
      <div class="letra1">
        {{ item.Nombre }}
      </div>

      <div class="letra2">
        {{ item.idOperador }} | {{ item.categoriaTxt }} |
        {{ item.estatusTexto }}
      </div>
    </li>
  </ul>
</div>
<app-loading-circle *ngIf="_loading"></app-loading-circle>
