<br />
<div class="seccion-titulo">
  <div class="menu-catalogos">
    <h2 class="colorBlanco">Bitácora Seguridad</h2>
    <div style="max-width: 350px; min-width: 100px">
      <a class="boton-filtros" (click)="btnFiltros()">
        <i class="fa-solid fa-filter centrar-icono icono-xlg"></i>
        <span class="textoBtn"> &thinsp;Filtrar</span>
      </a>

      <a class="boton-acciones color-verde" (click)="btnAgregar()">
        <i class="fa-solid fa-circle-plus icono-xlg icono-plus-circle"></i>

        <i class="fa-solid fa-plus icono-xlg centrar-icono icono-plus"></i>
        <span class="textoBtn"> &thinsp;Nuevo</span>
      </a>
    </div>
  </div>
</div>
<br />
<div class="seccion-principal">
  <ul class="list-cards">
    <li
      *ngFor="let item of _listado"
      class="card-item table-row"
      (click)="btnEditar(item)"
    >
      <div
        class="letra1"
        style="
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <div style="width: 65%;">
          [ {{ item.docBitacora }} ] | {{ item.obraNom }}
        </div>
        <div>
          {{ item.fecha | date : "mediumDate" }}
        </div>
      </div>

      <div class="letra2">
        <p>{{ item.supervisorNom }}</p>
        {{ item.area }}
      </div>
      <div
        class="letra2"
        style="width: 100%; border-top: 1px solid #ccc; width: 100%"
      >
        <ul>
          <li
            *ngFor="let itemEquipo of item.ListadoBitSeg"
            style="margin-top: 5px"
            class="borde-abajo"
          >
            <div class="letra2 borde-abajo">
              <div>
                {{ itemEquipo.idEconomico }} | {{ itemEquipo.equipoNom }}
              </div>
              <div>
                {{ itemEquipo.idOperador }} | {{ itemEquipo.operadorNom }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <app-sin-informacion *ngIf="_sinInfo"></app-sin-informacion>
</div>
<app-loading-circle *ngIf="_loading"></app-loading-circle>
